<h1 class="underline">D3 JS - Data Visualizations</h1>

<ul>
    <li><a href="one-circle">One Circle</a></li>
    <li><a href="one-line">One Line</a></li>
</ul>

<script type="module" src="{{ script }}"></script>